<div class="centerMe centerText index">
	<img src="/imgs/logo60.png" alt="Musgo GLS Orders Printer Logo">
	<h1>Musgo GLS Orders Printer</h1>
	<p>To print your daily document:</p>
	<ul>
		<li><a href="{{url}}" target="_blank" >Go to orders page</a></li>
		<li>Select the orders to print ( use the order tickbox )</li>
		<li>Click on "Bulk Actions" drop-down menu</li>
		<li>Click on Print Document GLS</li>
	</ul>
</div>