<div class="centerMe centerText install">
    <img src="/imgs/logo60.png" alt="Musgo GLS Orders Printer Logo">
    <h1>Musgo GLS Orders Printer Install</h1>
    <div class="formContainer">
        {{> orders}}
    </div>
</div>    
